/*
perspective: Tạo chiều sâu cho slider, tức là
 càng ra xa càng bé lại ấy. Ở đây, bạn chỉnh
 càng nhỏ thì tức là "càng xa". Phần "px" có 
thể bỏ nếu chỉ dùng trên chrome, firefox.
perspective-origin: Tạo độ "vênh" của slideshow,
 là chỉ cho nó ngửa mặt nên hay cúi mặt xuống ấy .
 Nếu bạn muốn slideshow "nhìn thẳng" thì 
có thể dùng center hoặc bỏ luôn dòng đó cũng được.*/
#slider {
  background-color: #ffecec;
  background-image: -webkit-gradient(radial, 50% 300, 1, 50% 300, 400, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  width: 100%;
 height: 300px;
  padding: 50px 0;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
}





/*Không có gì phải nói nhiều ngoài translateZ(-200px), 
nó dùng để fix chút cho phần -webkit-perspective: 800px;
 ở #slider do thằng này phóng ảnh quanh 1 trục, 
ảnh "sau" thì nhỏ lại, và tất nhiên là ảnh "trước" thì sẽ 
to ra, nên ta cần đẩy lùi "cái trục" này về "sau" 
một chút cho khỏi "vỡ khung".*/
#stage {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(-200px);
}



/*Đây chỉ chỉ có mỗi cái chú ý cho bạn nào
 chưa biết chỗ animation, nó chạy cái keyframes
  spin do bạn định nghĩa trong 20s, lặp lại 
  vô tận, còn cái linear chạy tốc độ đều từ khi 
  bắt đầu đến kết thúc, nó còn có kiểu nhanh dần 
  hay chậm dần nữa, nhưng ở đây thì bỏ qua đi.*/

#shape {
  position: relative;
  margin: 0 auto;
  height: 210px;
  width: 210px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: spin 20s infinite linear;
  -moz-animation: spin 20s infinite linear;
  -ms-animation: spin 20s infinite linear;
  animation: spin 20s infinite linear;
}
@-webkit-keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(-360deg); }
}






/*
Cái keyframes trên là nó chạy y trang cái
 mẫu trên đầu ấy, nếu bạn muốn nó dừng 
một chút ở mỗi slide thì có thể dùng cái sau*/
/*@-webkit-keyframes spin {
  from, 10% { transform: rotateY(0); }
  11.11%, 21.11% { transform: rotateY(-40deg); }
  22.22%, 32.22% { transform: rotateY(-80deg); }
  33.33%, 43.33% { transform: rotateY(-120deg); }
  44.44%, 54.44% { transform: rotateY(-160deg); }
  55.56%,65.56% { transform: rotateY(-200deg); }
  66.67%, 76.67% { transform: rotateY(-240deg); }
  77.78%, 87.78% { transform: rotateY(-280deg); }
  88.89%, 98.89% { transform: rotateY(-320deg); }
  to { transform: rotateY(-360deg); }
}*/






.plane {
  position: absolute;
  height: 210px;
  width: 210px;
  border: 1px solid white;
  border-radius: 12px;
  text-align: center;
  font-size: 114pt;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}
.plane img{
	width: 210px;
	height: 210px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border-radius: 13px 13px 13px 13px;
}






/*Số translateZ là khoảng cách từ "trục" ra đến slide*/
.ring>.item-1 { transform: rotateY(0deg) translateZ(400px); }
.ring>.item-2 { transform: rotateY(40deg) translateZ(400px); }
.ring>.item-3 { transform: rotateY(80deg) translateZ(400px); }
.ring>.item-4 { transform: rotateY(120deg) translateZ(400px); }
.ring>.item-5 { transform: rotateY(160deg) translateZ(400px); }
.ring>.item-6 { transform: rotateY(200deg) translateZ(400px); }
.ring>.item-7 { transform: rotateY(240deg) translateZ(400px); }
.ring>.item-8 { transform: rotateY(280deg) translateZ(400px); }
.ring>.item-9 { transform: rotateY(320deg) translateZ(400px); }